<div class="row myCanvas">
  <div class="col-xs-1"></div>
  <div class="col-xs-2">C</div>
  <div class="col-xs-2">R</div>
  <div class="col-xs-2">E</div>
  <div class="col-xs-2">E</div>
  <div class="col-xs-2">K</div>
  <div class="col-xs-1"></div>
</div>


<div class="row myCanvas">
    <div class="container">
        <div *ngFor="let album of myAlbums">
            <div class="clearfix"></div>
            <div class="row">
                    <div class="col-md-4 col-sm-8 col-xs-12">
                            <img src="{{album.image[3]['#text']}}" height="auto" width="100%"/>
                        </div>
                        <div class="col-md-8 col-sm-4 col-xs-12">
                            <p class="albumSquare">
                                {{album.name}} ({{album.wiki.published.split(',')[0]}})
                            </p>
                            <p class="albumSquare">
                                {{album.artist}}
                            </p>
                        </div>
            </div>
        <div>
    </div>
</div>