.myCanvas {
    text-align: center;
    font-family: "roboto";
    font-size: 5em;
    color: whitesmoke;
    background-color: #222;
}

.tagLine {
    text-align: right;
    font-family: "roboto";
    font-size: 1em;
    color: whitesmoke;
    background-color: #222;
}